
header {
    width: 90%;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 5rem;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
}

footer a {
    color: #333; /* Dark color for footer links */
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline; /* Underline on hover */
}